@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px 20px;
  gap: 24px;
  text-align: center;
  height: 70vh;

}

.header {
  position: relative;
}

#slack, .share{
  display: none;
}

.threeDots {
position: fixed;
top: 20px;
right: 20px;

}

.threeDots:active {
  background: url("./asset/_Avatar\ share\ button.png");
}

.threeDots:hover {
  cursor: pointer;
}

.picture:hover {
  background: url('./asset/Device=Web\,\ State=Hover.png') no-repeat center;
  cursor: pointer;
}

.logo {
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0px;
gap: 20px;
}

.buttons {
    width: 375px;
    height: 60px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    padding: 24px 32px;
    cursor: pointer;
}

.button-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

button p {
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid grey;
  width: 300px;
}

.input_text {
  outline: none;
 
}

.input_text:focus {
  border: 1px solid #84CAFF;
  outline: none;
box-shadow: none;

}

.message_btn:disabled {
  background-color: #B2DDFF;
  ;
}

.message_btn:hover {
  background-color: #175CD3;
}

.message_btn:focus {
  border: 2px solid #1570EF;

}
@media screen and (min-width: 700px) {
  .threeDots {
    display: none;
  }

  .share {
  display: block;
  position:absolute;
  top: 5%;
  right: -90%;
  margin-right: -30px;
  }

  .share:active {
    background: url("./asset/share_active.png") no-repeat cover;
    cursor: pointer;
  }

  .share:hover {
    background: url("./asset/share.png") no-repeat cover;
    cursor: pointer;
  }
  
  .buttons {
    width: 600px;
  }

  .footer-section {
    width: 600px;
  }

  .form {
    grid-row-gap: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .buttons {
    width: 990px;
  }

  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding: 30px 0 30px;
    width: 900px
  }

}

@media screen and (min-width: 1440px) {
  .buttons {
    width: 1200px;
  }

  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding: 30px 0 30px;
    width: 1200px
  }
}

